-----Các thư viện-----

In [48]:
import numpy
import pandas
import seaborn
from matplotlib import pyplot
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder , StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score , mean_squared_error , mean_squared_error

--Lấy và kiểm tra qua về dữ liệu--

In [49]:
# Load data
df = pandas.read_csv("AI_Impact_on_Jobs_2030.csv")

# Lấy 5 dòng đầu
df.head()

,Job_Title,Average_Salary,Years_Experience,Education_Level,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Risk_Category,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10
0,Security Guard,45795,28,Master's,0.18,1.28,0.85,High,0.45,0.10,0.46,0.33,0.14,0.65,0.06,0.72,0.94,0.00
1,Research Scientist,133355,20,PhD,0.62,1.11,0.05,Low,0.02,0.52,0.40,0.05,0.97,0.23,0.09,0.62,0.38,0.98
2,Construction Worker,146216,2,High School,0.86,1.18,0.81,High,0.01,0.94,0.56,0.39,0.02,0.23,0.24,0.68,0.61,0.83
3,Software Engineer,136530,13,PhD,0.39,0.68,0.60,Medium,0.43,0.21,0.57,0.03,0.84,0.45,0.40,0.93,0.73,0.33
4,Financial Analyst,70397,22,High School,0.52,1.46,0.64,Medium,0.75,0.54,0.59,0.97,0.61,0.28,0.30,0.17,0.02,0.42

In [50]:
# Lấy 5 dòng cuối
df.tail()

,Job_Title,Average_Salary,Years_Experience,Education_Level,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Risk_Category,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10
2995,Doctor,111319,6,Bachelor's,0.24,1.18,0.20,Low,0.73,0.37,0.99,0.07,0.08,0.92,0.65,0.33,0.76,0.45
2996,UX Researcher,44363,29,PhD,0.65,0.74,0.35,Medium,0.23,0.48,0.05,0.88,0.56,0.29,0.69,0.80,0.61,0.20
2997,Data Scientist,61325,23,Master's,0.64,0.94,0.39,Medium,0.28,0.62,0.73,0.21,0.96,0.01,0.70,0.29,0.48,0.57
2998,Graphic Designer,110296,7,PhD,0.95,1.23,0.46,Medium,0.21,0.18,0.14,0.22,0.55,0.68,0.31,0.55,0.34,0.70
2999,Graphic Designer,123909,25,PhD,0.69,0.56,0.49,Medium,0.77,0.54,0.95,0.05,0.29,0.22,0.77,0.52,0.14,0.29

In [51]:
# Thông tin dữ liệu
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Job_Title                    3000 non-null   object
 1   Average_Salary               3000 non-null   int64
 2   Years_Experience             3000 non-null   int64
 3   Education_Level              3000 non-null   object
 4   AI_Exposure_Index            3000 non-null   float64
 5   Tech_Growth_Factor           3000 non-null   float64
 6   Automation_Probability_2030  3000 non-null   float64
 7   Risk_Category                3000 non-null   object
 8   Skill_1                      3000 non-null   float64
 9   Skill_2                      3000 non-null   float64
 10  Skill_3                      3000 non-null   float64
 11  Skill_4                      3000 non-null   float64
 12  Skill_5                      3000 non-null   float64
 13  Skill_6                      3000 non-null   float64
 14  Skill_7                      3000 non-null   float64
 15  Skill_8                      3000 non-null   float64
 16  Skill_9                      3000 non-null   float64
 17  Skill_10                     3000 non-null   float64
dtypes: float64(13), int64(2), object(3)
memory usage: 422.0+ KB

In [52]:
# Mô tả chung về dữ liệu
df.describe()

,Average_Salary,Years_Experience,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,89372.279000,14.677667,0.501283,0.995343,0.501503,0.496973,0.497233,0.499313,0.503667,0.490270,0.499807,0.499160,0.502843,0.501433,0.493627
std,34608.088767,8.739788,0.284004,0.287669,0.247881,0.287888,0.288085,0.288354,0.287063,0.285818,0.286050,0.288044,0.289832,0.285818,0.286464
min,30030.000000,0.000000,0.000000,0.500000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,58640.000000,7.000000,0.260000,0.740000,0.310000,0.240000,0.250000,0.250000,0.260000,0.240000,0.260000,0.250000,0.250000,0.260000,0.250000
50%,89318.000000,15.000000,0.500000,1.000000,0.500000,0.505000,0.500000,0.500000,0.510000,0.490000,0.500000,0.490000,0.500000,0.500000,0.490000
75%,119086.500000,22.000000,0.740000,1.240000,0.700000,0.740000,0.740000,0.750000,0.750000,0.730000,0.740000,0.750000,0.750000,0.740000,0.740000
max,149798.000000,29.000000,1.000000,1.500000,0.950000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

--Xử Lý dữ liệu trống và trùng lặp--

In [53]:
# Kiểm tra dữ liệu trống
df.isnull().sum()

Job_Title                      0
Average_Salary                 0
Years_Experience               0
Education_Level                0
AI_Exposure_Index              0
Tech_Growth_Factor             0
Automation_Probability_2030    0
Risk_Category                  0
Skill_1                        0
Skill_2                        0
Skill_3                        0
Skill_4                        0
Skill_5                        0
Skill_6                        0
Skill_7                        0
Skill_8                        0
Skill_9                        0
Skill_10                       0
dtype: int64

In [54]:
# Kiểm tra giá trị trùng lặp
df.duplicated().sum()

np.int64(0)

--Khám phá dữ liệu--

In [55]:
# Các ngành nghề 
df['Job_Title'].unique()

array(['Security Guard', 'Research Scientist', 'Construction Worker',
       'Software Engineer', 'Financial Analyst', 'AI Engineer',
       'Mechanic', 'Teacher', 'HR Specialist', 'Customer Support',
       'UX Researcher', 'Lawyer', 'Data Scientist', 'Graphic Designer',
       'Retail Worker', 'Doctor', 'Truck Driver', 'Chef', 'Nurse',
       'Marketing Manager'], dtype=object)

In [56]:
# Các cấp độ học vấn
df['Education_Level'].unique()

array(["Master's", 'PhD', 'High School', "Bachelor's"], dtype=object)

--Xử lý dữ liệu--

In [57]:
# Cho Education_Level sang dạng số 
edu_map = {
    "High School" : 1 ,
    "Bachelor's" : 2 ,
    "Master's" : 3 ,
    "PhD" : 4
}

df['Education_Level_encode'] = df['Education_Level'].map(edu_map)

df.head()

,Job_Title,Average_Salary,Years_Experience,Education_Level,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Risk_Category,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10,Education_Level_encode
0,Security Guard,45795,28,Master's,0.18,1.28,0.85,High,0.45,0.10,0.46,0.33,0.14,0.65,0.06,0.72,0.94,0.00,3
1,Research Scientist,133355,20,PhD,0.62,1.11,0.05,Low,0.02,0.52,0.40,0.05,0.97,0.23,0.09,0.62,0.38,0.98,4
2,Construction Worker,146216,2,High School,0.86,1.18,0.81,High,0.01,0.94,0.56,0.39,0.02,0.23,0.24,0.68,0.61,0.83,1
3,Software Engineer,136530,13,PhD,0.39,0.68,0.60,Medium,0.43,0.21,0.57,0.03,0.84,0.45,0.40,0.93,0.73,0.33,4
4,Financial Analyst,70397,22,High School,0.52,1.46,0.64,Medium,0.75,0.54,0.59,0.97,0.61,0.28,0.30,0.17,0.02,0.42,1

In [58]:
# Chuyển Job_Title sang dạng số
le = LabelEncoder()
df['Job_Title_encode'] = le.fit_transform(df['Job_Title'])

df.head()

,Job_Title,Average_Salary,Years_Experience,Education_Level,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Risk_Category,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10,Education_Level_encode,Job_Title_encode
0,Security Guard,45795,28,Master's,0.18,1.28,0.85,High,0.45,0.10,0.46,0.33,0.14,0.65,0.06,0.72,0.94,0.00,3,15
1,Research Scientist,133355,20,PhD,0.62,1.11,0.05,Low,0.02,0.52,0.40,0.05,0.97,0.23,0.09,0.62,0.38,0.98,4,13
2,Construction Worker,146216,2,High School,0.86,1.18,0.81,High,0.01,0.94,0.56,0.39,0.02,0.23,0.24,0.68,0.61,0.83,1,2
3,Software Engineer,136530,13,PhD,0.39,0.68,0.60,Medium,0.43,0.21,0.57,0.03,0.84,0.45,0.40,0.93,0.73,0.33,4,16
4,Financial Analyst,70397,22,High School,0.52,1.46,0.64,Medium,0.75,0.54,0.59,0.97,0.61,0.28,0.30,0.17,0.02,0.42,1,6

In [59]:
df['Job_Title'].unique()

array(['Security Guard', 'Research Scientist', 'Construction Worker',
       'Software Engineer', 'Financial Analyst', 'AI Engineer',
       'Mechanic', 'Teacher', 'HR Specialist', 'Customer Support',
       'UX Researcher', 'Lawyer', 'Data Scientist', 'Graphic Designer',
       'Retail Worker', 'Doctor', 'Truck Driver', 'Chef', 'Nurse',
       'Marketing Manager'], dtype=object)

In [60]:
# Loại bỏ hàng Risk_Category
df = df.drop(columns="Risk_Category")
df

,Job_Title,Average_Salary,Years_Experience,Education_Level,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10,Education_Level_encode,Job_Title_encode
0,Security Guard,45795,28,Master's,0.18,1.28,0.85,0.45,0.10,0.46,0.33,0.14,0.65,0.06,0.72,0.94,0.00,3,15
1,Research Scientist,133355,20,PhD,0.62,1.11,0.05,0.02,0.52,0.40,0.05,0.97,0.23,0.09,0.62,0.38,0.98,4,13
2,Construction Worker,146216,2,High School,0.86,1.18,0.81,0.01,0.94,0.56,0.39,0.02,0.23,0.24,0.68,0.61,0.83,1,2
3,Software Engineer,136530,13,PhD,0.39,0.68,0.60,0.43,0.21,0.57,0.03,0.84,0.45,0.40,0.93,0.73,0.33,4,16
4,Financial Analyst,70397,22,High School,0.52,1.46,0.64,0.75,0.54,0.59,0.97,0.61,0.28,0.30,0.17,0.02,0.42,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Doctor,111319,6,Bachelor's,0.24,1.18,0.20,0.73,0.37,0.99,0.07,0.08,0.92,0.65,0.33,0.76,0.45,2,5
2996,UX Researcher,44363,29,PhD,0.65,0.74,0.35,0.23,0.48,0.05,0.88,0.56,0.29,0.69,0.80,0.61,0.20,4,19
2997,Data Scientist,61325,23,Master's,0.64,0.94,0.39,0.28,0.62,0.73,0.21,0.96,0.01,0.70,0.29,0.48,0.57,3,4
2998,Graphic Designer,110296,7,PhD,0.95,1.23,0.46,0.21,0.18,0.14,0.22,0.55,0.68,0.31,0.55,0.34,0.70,4,7
2999,Graphic Designer,123909,25,PhD,0.69,0.56,0.49,0.77,0.54,0.95,0.05,0.29,0.22,0.77,0.52,0.14,0.29,4,7

In [61]:
df['Automation_Probability_2030'] = df['Automation_Probability_2030'] * 100
df

,Job_Title,Average_Salary,Years_Experience,Education_Level,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10,Education_Level_encode,Job_Title_encode
0,Security Guard,45795,28,Master's,0.18,1.28,85.0,0.45,0.10,0.46,0.33,0.14,0.65,0.06,0.72,0.94,0.00,3,15
1,Research Scientist,133355,20,PhD,0.62,1.11,5.0,0.02,0.52,0.40,0.05,0.97,0.23,0.09,0.62,0.38,0.98,4,13
2,Construction Worker,146216,2,High School,0.86,1.18,81.0,0.01,0.94,0.56,0.39,0.02,0.23,0.24,0.68,0.61,0.83,1,2
3,Software Engineer,136530,13,PhD,0.39,0.68,60.0,0.43,0.21,0.57,0.03,0.84,0.45,0.40,0.93,0.73,0.33,4,16
4,Financial Analyst,70397,22,High School,0.52,1.46,64.0,0.75,0.54,0.59,0.97,0.61,0.28,0.30,0.17,0.02,0.42,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Doctor,111319,6,Bachelor's,0.24,1.18,20.0,0.73,0.37,0.99,0.07,0.08,0.92,0.65,0.33,0.76,0.45,2,5
2996,UX Researcher,44363,29,PhD,0.65,0.74,35.0,0.23,0.48,0.05,0.88,0.56,0.29,0.69,0.80,0.61,0.20,4,19
2997,Data Scientist,61325,23,Master's,0.64,0.94,39.0,0.28,0.62,0.73,0.21,0.96,0.01,0.70,0.29,0.48,0.57,3,4
2998,Graphic Designer,110296,7,PhD,0.95,1.23,46.0,0.21,0.18,0.14,0.22,0.55,0.68,0.31,0.55,0.34,0.70,4,7
2999,Graphic Designer,123909,25,PhD,0.69,0.56,49.0,0.77,0.54,0.95,0.05,0.29,0.22,0.77,0.52,0.14,0.29,4,7

---Chuẩn bị dữ liệu để huấn luyện---

In [62]:
# Feature là Job_Title_encode và target là Automation_Probability_2030
Xl = df[['Job_Title_encode']]
yl = df['Automation_Probability_2030']

X_trainl , X_testl , y_trainl , y_testl = train_test_split(Xl , yl , test_size=0.2 , random_state=42)


# Sử dụng nhiều hơn 1 feature 
feature_columns = [
    'Job_Title_encode',           
    'Years_Experience',
    'Education_Level_encode',
    'AI_Exposure_Index',           
    'Tech_Growth_Factor',
    'Skill_1', 'Skill_2', 'Skill_3', 'Skill_4', 'Skill_5',
    'Skill_6', 'Skill_7', 'Skill_8', 'Skill_9', 'Skill_10'
]

X = df[feature_columns]
y = df["Automation_Probability_2030"]

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=0.2 , random_state=42)

---Linear Regression với 1 feature---

In [63]:
linear_model = LinearRegression()
linear_model.fit(Xl , yl)

a = linear_model.coef_
b = linear_model.intercept_

print(f'Hệ số góc :')
print(a)
print(f'\nHệ số biên :')
print(b)

Hệ số góc :
[0.2044699]

Hệ số biên :
48.163158503716176

-Phương trình

In [64]:
equation = f'y = {b:.5f}'

for i, coef in enumerate(a, start=1):
    equation += f" + ({coef:.8f})X{i}"

equation

'y = 48.16316 + (0.20446990)X1'

-Tính R²

In [74]:
r2l1f = linear_model.score(X_testl , y_testl)
r2l1f

-0.00043537976494811836

---Linear Regression với 15 feature---

In [66]:
linear_model_mod = LinearRegression()
linear_model_mod.fit(X , y)

a = linear_model_mod.coef_
b = linear_model_mod.intercept_

print(f'Hệ số góc :')
print(a)
print(f'\nHệ số biên :')
print(b)

Hệ số góc :
[ 0.21471387 -0.05252603 -0.27658791  1.2051203   2.09038378  2.7612575
  2.0074165  -1.82294789  0.39846101 -2.31790874  1.09907176 -0.65208025
 -1.40645288  0.10295903  0.49261074]

Hệ số biên :
46.4945946118803

-Phương trình

In [67]:
equation = f'y = {b:.5f}'

for i, coef in enumerate(a, start=1):
    equation += f" + ({coef:.8f})X{i}"

equation

'y = 46.49459 + (0.21471387)X1 + (-0.05252603)X2 + (-0.27658791)X3 + (1.20512030)X4 + (2.09038378)X5 + (2.76125750)X6 + (2.00741650)X7 + (-1.82294789)X8 + (0.39846101)X9 + (-2.31790874)X10 + (1.09907176)X11 + (-0.65208025)X12 + (-1.40645288)X13 + (0.10295903)X14 + (0.49261074)X15'

-R²

In [75]:
r2l15f = linear_model_mod.score(X_test , y_test)
r2l15f

0.005198733705562786

---Random Forest---

In [69]:
# Cấu hình random forest
random_forest_model = RandomForestRegressor(
    n_estimators=200 ,
    max_depth=50 ,
    bootstrap=True ,
    random_state=42
)

# Huấn luyện mô hình
random_forest_model.fit(X , y)

RandomForestRegressor(max_depth=50, n_estimators=200, random_state=42)

-Kết quả dự đoán sau khi train xong mô hình

In [72]:
y_pred = random_forest_model.predict(X_test)
y_pred

array([52.325, 76.83 , 46.495, 43.27 , 42.775, 38.1  , 47.14 , 55.16 ,
       10.345, 42.725, 25.705, 20.135, 13.485, 78.67 , 49.26 , 88.63 ,
       54.435, 59.755, 87.75 , 81.985, 90.31 , 38.68 , 51.335, 85.1  ,
       50.995, 80.035, 49.965, 13.345, 12.225, 15.21 , 83.75 , 59.37 ,
       41.475, 61.6  , 75.885, 48.905, 39.9  , 81.17 , 21.   , 38.195,
       53.745, 84.395, 37.415, 47.075, 45.15 , 46.56 , 42.395, 19.535,
       18.02 , 39.56 , 80.895, 89.345, 59.225, 41.85 , 15.495, 24.49 ,
       57.56 , 77.17 , 47.305, 86.49 , 52.725, 36.13 , 61.28 , 36.49 ,
       14.93 , 54.015, 50.545, 83.06 , 17.16 , 77.845, 43.69 , 13.515,
       39.37 , 48.67 , 78.97 , 39.285, 53.62 , 74.285, 16.88 , 81.675,
       51.45 , 60.37 , 80.325, 43.455, 43.305, 42.28 , 48.08 , 17.055,
       13.285, 38.075, 41.58 , 55.3  , 40.525, 75.025, 89.645, 54.675,
       86.705, 88.12 , 22.87 , 10.015, 19.685, 48.47 , 40.76 , 50.685,
       46.4  , 44.39 , 46.175, 79.26 , 84.33 , 79.665, 86.915, 10.515,
       40.835, 15.105, 10.345, 74.025, 84.845, 39.635, 80.97 , 53.225,
       56.35 , 21.235, 77.06 , 85.93 , 81.615, 22.805, 14.41 , 58.115,
       83.06 , 84.425, 16.045, 52.7  , 78.595, 17.925, 52.065, 58.04 ,
       60.95 , 84.385, 55.185, 84.45 , 80.865, 59.935, 46.855, 48.795,
       43.   , 16.   , 18.875, 41.61 , 85.295, 14.385, 21.755, 47.57 ,
       51.445, 47.59 , 40.905, 62.485, 83.88 ,  9.425, 51.73 , 45.14 ,
       23.665, 24.925, 50.2  , 84.11 , 11.47 , 55.095, 13.145, 44.29 ,
       56.475, 12.82 , 87.95 , 87.43 , 48.965, 61.605, 74.6  , 83.53 ,
       78.825, 57.175, 38.63 , 24.815, 57.685, 87.72 , 18.5  , 54.35 ,
       52.905, 22.83 , 81.085, 16.14 , 60.285, 15.895, 24.775, 75.89 ,
       19.91 , 47.785, 22.665, 15.575, 11.06 , 87.55 , 17.385, 22.975,
       41.505, 19.47 , 16.915, 17.72 , 13.695, 14.31 , 84.09 , 10.   ,
       59.255, 15.695, 19.77 , 39.535, 55.315, 47.575, 54.245, 55.95 ,
       90.45 , 36.27 , 47.475, 11.53 , 47.845, 55.055, 73.93 , 50.005,
       81.555, 53.32 , 75.45 , 87.715, 86.975, 57.625, 57.52 , 11.375,
       82.69 , 45.45 , 16.495, 14.495, 44.725, 21.805, 10.13 , 87.105,
       85.67 , 16.105, 82.835, 88.935, 49.82 , 81.505, 10.495, 83.62 ,
       14.05 , 11.02 , 80.24 , 76.675, 20.425, 50.895, 83.5  , 47.   ,
       38.33 , 79.655, 51.715, 47.52 , 50.855, 77.72 , 84.285, 45.71 ,
       83.985, 79.25 , 63.22 , 78.2  , 77.03 , 83.75 , 38.435, 59.175,
       52.22 , 89.015, 63.075, 17.68 , 35.27 , 18.24 , 13.795, 89.31 ,
       39.945, 61.45 , 19.97 , 43.215, 22.865, 83.005, 18.86 , 13.785,
       60.395, 21.715, 49.51 , 75.085, 52.545, 77.935, 38.435, 75.43 ,
       77.93 , 76.16 , 79.435, 37.365, 58.795, 88.505, 18.34 , 49.335,
       46.165, 81.635, 59.365, 75.09 , 37.715, 76.96 , 18.365, 46.295,
       18.355, 60.025, 41.6  , 24.515, 44.355, 26.   , 42.89 , 16.205,
       11.5  , 54.32 , 58.   , 20.4  , 49.705, 39.33 , 86.195, 85.13 ,
       40.83 , 44.49 , 12.985, 17.115, 25.05 , 40.025, 85.515, 47.36 ,
       51.25 , 84.395, 24.85 , 12.165, 24.025, 48.565, 20.555, 88.515,
       24.565, 40.57 , 57.41 , 52.235, 47.62 , 38.03 , 22.79 , 47.515,
       12.28 , 54.14 , 16.73 , 14.665, 45.205, 54.56 , 51.545, 41.105,
       20.36 , 44.645, 43.58 , 74.19 , 53.435, 39.565, 52.145, 82.745,
       21.05 , 45.785, 43.105, 23.525, 83.53 , 83.605, 38.32 , 54.09 ,
       45.55 , 75.905, 40.735, 13.99 , 58.655, 82.035, 11.825, 10.94 ,
       89.19 , 45.89 , 87.535, 54.59 , 52.65 , 45.045, 12.445, 44.075,
       45.   , 45.325, 22.325, 46.09 , 11.435, 46.275, 55.715, 38.395,
       88.555, 48.155, 42.885, 43.285, 19.525, 15.405, 58.64 , 50.005,
       76.465, 10.5  , 48.95 , 62.91 , 86.745, 81.995, 53.265, 38.05 ,
       53.48 , 55.29 , 45.2  , 22.68 , 15.685, 54.805, 57.36 , 84.18 ,
       16.245, 86.235, 87.095, 13.49 , 85.345, 46.765, 41.855, 46.145,
       76.88 , 19.355, 77.535, 53.165, 59.85 , 74.205, 84.425, 90.73 ,
       22.195, 40.925, 42.985, 90.38 , 85.685, 81.205, 15.63 , 79.79 ,
       60.61 , 55.525, 77.755, 62.325, 75.37 , 38.325, 58.12 , 78.355,
       39.41 , 48.91 , 46.385, 24.675, 18.775, 53.12 , 83.505, 90.535,
       79.585, 89.925, 48.73 , 47.89 , 44.565, 40.57 , 79.21 , 75.725,
       75.705, 53.52 , 88.76 , 87.58 , 80.34 , 76.32 , 56.625, 18.39 ,
       76.25 , 87.835, 76.72 , 44.875, 14.785, 47.685, 56.77 , 77.345,
       38.31 , 55.   , 44.5  , 38.3  , 45.835, 84.535, 60.005, 83.215,
       42.855, 81.25 , 49.38 , 45.485, 11.935, 22.995, 20.4  , 59.82 ,
       20.095, 53.32 , 44.64 , 11.85 , 56.515, 82.33 , 89.865, 56.98 ,
       13.57 , 58.065, 10.42 , 76.83 , 57.925, 77.005, 58.72 , 53.715,
       58.735, 14.59 , 44.24 , 54.485, 51.865, 42.94 , 49.36 , 39.93 ,
       12.875, 45.99 , 19.29 , 46.015, 54.42 , 61.53 , 41.555, 91.245,
       59.3  , 77.81 , 85.03 , 11.435, 75.38 , 51.18 , 62.2  , 55.99 ,
       78.88 , 80.65 , 87.535, 89.865, 42.195, 15.205, 14.905, 74.885,
       19.06 , 13.04 , 87.5  , 16.685, 61.655, 62.595, 59.65 , 43.685,
       49.645, 42.555, 74.39 , 85.62 , 46.21 , 44.325, 21.295, 45.305,
       13.54 , 45.575, 43.45 , 18.18 , 19.415, 35.89 , 81.86 , 14.735,
       55.025, 78.725, 89.   , 54.645, 44.63 , 84.86 , 54.775, 23.63 ,
       84.25 , 39.755, 49.82 , 80.8  , 80.64 , 23.67 , 51.76 , 78.6  ,
       43.005, 81.9  , 16.61 , 60.16 , 24.07 , 40.755, 56.135, 82.37 ])

-R² , MSE , RMSE

In [80]:
r2rf15f = r2_score( y_test, y_pred)
mserf15f = mean_squared_error(y_test, y_pred)
rmserf15f = numpy.sqrt(mserf15f)

print(f'R² : {r2rf15f}')
print(f'MSE : {mserf15f}')
print(f'RMSE : {rmserf15f}')

R² : 0.9811364836229496
MSE : 12.042418499999998
RMSE : 3.4702187971365723

-Tổng quan các feature quan trọng

In [86]:
feature_importance = pandas.DataFrame({
    'feature': X.columns,
    'importance': random_forest_model.feature_importances_
}).sort_values('importance', ascending=False)

feature_importance

                   feature  importance
0         Job_Title_encode    0.858943
3        AI_Exposure_Index    0.011522
5                  Skill_1    0.011446
10                 Skill_6    0.011148
12                 Skill_8    0.011121
14                Skill_10    0.010919
8                  Skill_4    0.010830
6                  Skill_2    0.010710
4       Tech_Growth_Factor    0.010643
11                 Skill_7    0.010638
9                  Skill_5    0.010243
13                 Skill_9    0.009904
7                  Skill_3    0.009487
1         Years_Experience    0.008591
2   Education_Level_encode    0.003856

---Ảnh hưởng lên mọi ngành nghề---

In [96]:
job_titles = df['Job_Title'].unique()
job_impact_results = []

for job_title in job_titles[:20]:
    job_mask = df['Job_Title'] == job_title
    job_data = X[job_mask]
    
    if len(job_data) > 0:
        job_pred = random_forest_model.predict(job_data)
        job_actual = y[job_mask]
        
        mse = numpy.mean((job_actual - job_pred) ** 2)
        rmse = numpy.sqrt(mse)
        
        job_mean_impact = job_pred.mean()
        
        job_impact_results.append({
            'Job_Title': job_title,
            'Sample_Count': len(job_data),
            'Avg_Automation_Prob': job_actual.mean(),
            'Avg_Predicted_Prob': job_mean_impact,
            'MSE': mse,
            'RMSE': rmse,
            'Bias': job_mean_impact - job_actual.mean() 
        })

job_impact_df = pandas.DataFrame(job_impact_results)
job_impact_df = job_impact_df.sort_values('Avg_Predicted_Prob', ascending=False)

job_impact_df[['Job_Title', 'Avg_Automation_Prob', 'Avg_Predicted_Prob', 
                     'Bias', 'RMSE', 'Sample_Count']].head(20)

,Job_Title,Avg_Automation_Prob,Avg_Predicted_Prob,Bias,RMSE,Sample_Count
14,Retail Worker,83.470968,83.458355,-0.012613,2.723388,155
0,Security Guard,83.305195,83.265422,-0.039773,2.639383,154
2,Construction Worker,82.596154,82.648333,0.052179,2.746296,156
9,Customer Support,82.526316,82.553271,0.026955,2.565485,133
16,Truck Driver,81.862745,81.828366,-0.034379,2.716730,153
13,Graphic Designer,52.900000,52.011188,-0.888812,4.508347,160
3,Software Engineer,50.868571,50.869971,0.001400,4.441146,175
12,Data Scientist,49.628743,49.710030,0.081287,4.221354,167
17,Chef,49.567376,49.653156,0.085780,4.429556,141
19,Marketing Manager,49.477612,49.503843,0.026231,4.002801,134
8,HR Specialist,49.076433,49.369873,0.293439,4.213555,157
10,UX Researcher,49.239521,49.235808,-0.003713,3.861649,167
11,Lawyer,48.643939,49.019811,0.375871,4.272985,132
4,Financial Analyst,48.509934,48.922649,0.412715,4.295845,151
6,Mechanic,48.529412,48.754375,0.224963,4.076983,136
15,Doctor,17.674242,17.588523,-0.085720,2.890095,132
7,Teacher,17.578313,17.554910,-0.023404,2.722962,166
18,Nurse,17.563380,17.548556,-0.014824,2.786513,142
1,Research Scientist,17.416107,17.396007,-0.020101,2.702876,149
5,AI Engineer,17.221429,17.187214,-0.034214,2.889708,140