Dự đoán ảnh hưởng của AI với các ngành nghề trong năm 2030 bằng mô hình học máy Random Forest và Linear Regression
-----Các thư viện-----

In [168]:
import numpy
import pandas
import seaborn
from matplotlib import pyplot
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder , StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score , mean_squared_error , mean_squared_error

--Lấy và kiểm tra qua về dữ liệu--

In [169]:
# Load data
df = pandas.read_csv("AI_Impact_on_Jobs_2030.csv")

# Lấy 5 dòng đầu
df.head()

,Job_Title,Average_Salary,Years_Experience,Education_Level,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Risk_Category,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10
0,Security Guard,45795,28,Master's,0.18,1.28,0.85,High,0.45,0.10,0.46,0.33,0.14,0.65,0.06,0.72,0.94,0.00
1,Research Scientist,133355,20,PhD,0.62,1.11,0.05,Low,0.02,0.52,0.40,0.05,0.97,0.23,0.09,0.62,0.38,0.98
2,Construction Worker,146216,2,High School,0.86,1.18,0.81,High,0.01,0.94,0.56,0.39,0.02,0.23,0.24,0.68,0.61,0.83
3,Software Engineer,136530,13,PhD,0.39,0.68,0.60,Medium,0.43,0.21,0.57,0.03,0.84,0.45,0.40,0.93,0.73,0.33
4,Financial Analyst,70397,22,High School,0.52,1.46,0.64,Medium,0.75,0.54,0.59,0.97,0.61,0.28,0.30,0.17,0.02,0.42

In [170]:
# Thông tin dữ liệu
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Job_Title                    3000 non-null   object
 1   Average_Salary               3000 non-null   int64
 2   Years_Experience             3000 non-null   int64
 3   Education_Level              3000 non-null   object
 4   AI_Exposure_Index            3000 non-null   float64
 5   Tech_Growth_Factor           3000 non-null   float64
 6   Automation_Probability_2030  3000 non-null   float64
 7   Risk_Category                3000 non-null   object
 8   Skill_1                      3000 non-null   float64
 9   Skill_2                      3000 non-null   float64
 10  Skill_3                      3000 non-null   float64
 11  Skill_4                      3000 non-null   float64
 12  Skill_5                      3000 non-null   float64
 13  Skill_6                      3000 non-null   float64
 14  Skill_7                      3000 non-null   float64
 15  Skill_8                      3000 non-null   float64
 16  Skill_9                      3000 non-null   float64
 17  Skill_10                     3000 non-null   float64
dtypes: float64(13), int64(2), object(3)
memory usage: 422.0+ KB

In [171]:
# Mô tả chung về dữ liệu
df.describe()

,Average_Salary,Years_Experience,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,89372.279000,14.677667,0.501283,0.995343,0.501503,0.496973,0.497233,0.499313,0.503667,0.490270,0.499807,0.499160,0.502843,0.501433,0.493627
std,34608.088767,8.739788,0.284004,0.287669,0.247881,0.287888,0.288085,0.288354,0.287063,0.285818,0.286050,0.288044,0.289832,0.285818,0.286464
min,30030.000000,0.000000,0.000000,0.500000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,58640.000000,7.000000,0.260000,0.740000,0.310000,0.240000,0.250000,0.250000,0.260000,0.240000,0.260000,0.250000,0.250000,0.260000,0.250000
50%,89318.000000,15.000000,0.500000,1.000000,0.500000,0.505000,0.500000,0.500000,0.510000,0.490000,0.500000,0.490000,0.500000,0.500000,0.490000
75%,119086.500000,22.000000,0.740000,1.240000,0.700000,0.740000,0.740000,0.750000,0.750000,0.730000,0.740000,0.750000,0.750000,0.740000,0.740000
max,149798.000000,29.000000,1.000000,1.500000,0.950000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

--Xử Lý dữ liệu trống và trùng lặp--

In [172]:
# Kiểm tra dữ liệu trống
df.isnull().sum()

Job_Title                      0
Average_Salary                 0
Years_Experience               0
Education_Level                0
AI_Exposure_Index              0
Tech_Growth_Factor             0
Automation_Probability_2030    0
Risk_Category                  0
Skill_1                        0
Skill_2                        0
Skill_3                        0
Skill_4                        0
Skill_5                        0
Skill_6                        0
Skill_7                        0
Skill_8                        0
Skill_9                        0
Skill_10                       0
dtype: int64

In [173]:
# Kiểm tra giá trị trùng lặp
df.duplicated().sum()

np.int64(0)

--Khám phá dữ liệu--

In [174]:
# Các ngành nghề 
df['Job_Title'].unique()

array(['Security Guard', 'Research Scientist', 'Construction Worker',
       'Software Engineer', 'Financial Analyst', 'AI Engineer',
       'Mechanic', 'Teacher', 'HR Specialist', 'Customer Support',
       'UX Researcher', 'Lawyer', 'Data Scientist', 'Graphic Designer',
       'Retail Worker', 'Doctor', 'Truck Driver', 'Chef', 'Nurse',
       'Marketing Manager'], dtype=object)

In [175]:
# Các cấp độ học vấn
df['Education_Level'].unique()

array(["Master's", 'PhD', 'High School', "Bachelor's"], dtype=object)

--Xử lý dữ liệu--

In [176]:
# Cho Education_Level sang dạng số 
edu_map = {
    "High School" : 1 ,
    "Bachelor's" : 2 ,
    "Master's" : 3 ,
    "PhD" : 4
}

df['Education_Level_encode'] = df['Education_Level'].map(edu_map)

df.head()

,Job_Title,Average_Salary,Years_Experience,Education_Level,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Risk_Category,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10,Education_Level_encode
0,Security Guard,45795,28,Master's,0.18,1.28,0.85,High,0.45,0.10,0.46,0.33,0.14,0.65,0.06,0.72,0.94,0.00,3
1,Research Scientist,133355,20,PhD,0.62,1.11,0.05,Low,0.02,0.52,0.40,0.05,0.97,0.23,0.09,0.62,0.38,0.98,4
2,Construction Worker,146216,2,High School,0.86,1.18,0.81,High,0.01,0.94,0.56,0.39,0.02,0.23,0.24,0.68,0.61,0.83,1
3,Software Engineer,136530,13,PhD,0.39,0.68,0.60,Medium,0.43,0.21,0.57,0.03,0.84,0.45,0.40,0.93,0.73,0.33,4
4,Financial Analyst,70397,22,High School,0.52,1.46,0.64,Medium,0.75,0.54,0.59,0.97,0.61,0.28,0.30,0.17,0.02,0.42,1

In [177]:
# Chuyển Job_Title sang dạng số
le = LabelEncoder()
df['Job_Title_encode'] = le.fit_transform(df['Job_Title'])

df.head()

,Job_Title,Average_Salary,Years_Experience,Education_Level,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Risk_Category,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10,Education_Level_encode,Job_Title_encode
0,Security Guard,45795,28,Master's,0.18,1.28,0.85,High,0.45,0.10,0.46,0.33,0.14,0.65,0.06,0.72,0.94,0.00,3,15
1,Research Scientist,133355,20,PhD,0.62,1.11,0.05,Low,0.02,0.52,0.40,0.05,0.97,0.23,0.09,0.62,0.38,0.98,4,13
2,Construction Worker,146216,2,High School,0.86,1.18,0.81,High,0.01,0.94,0.56,0.39,0.02,0.23,0.24,0.68,0.61,0.83,1,2
3,Software Engineer,136530,13,PhD,0.39,0.68,0.60,Medium,0.43,0.21,0.57,0.03,0.84,0.45,0.40,0.93,0.73,0.33,4,16
4,Financial Analyst,70397,22,High School,0.52,1.46,0.64,Medium,0.75,0.54,0.59,0.97,0.61,0.28,0.30,0.17,0.02,0.42,1,6

In [178]:
# Loại bỏ hàng Risk_Category
df = df.drop(columns="Risk_Category")

df.head()

,Job_Title,Average_Salary,Years_Experience,Education_Level,AI_Exposure_Index,Tech_Growth_Factor,Automation_Probability_2030,Skill_1,Skill_2,Skill_3,Skill_4,Skill_5,Skill_6,Skill_7,Skill_8,Skill_9,Skill_10,Education_Level_encode,Job_Title_encode
0,Security Guard,45795,28,Master's,0.18,1.28,0.85,0.45,0.10,0.46,0.33,0.14,0.65,0.06,0.72,0.94,0.00,3,15
1,Research Scientist,133355,20,PhD,0.62,1.11,0.05,0.02,0.52,0.40,0.05,0.97,0.23,0.09,0.62,0.38,0.98,4,13
2,Construction Worker,146216,2,High School,0.86,1.18,0.81,0.01,0.94,0.56,0.39,0.02,0.23,0.24,0.68,0.61,0.83,1,2
3,Software Engineer,136530,13,PhD,0.39,0.68,0.60,0.43,0.21,0.57,0.03,0.84,0.45,0.40,0.93,0.73,0.33,4,16
4,Financial Analyst,70397,22,High School,0.52,1.46,0.64,0.75,0.54,0.59,0.97,0.61,0.28,0.30,0.17,0.02,0.42,1,6

---Chuẩn bị dữ liệu để huấn luyện---

In [179]:
# Feature là Job_Title_encode và target là Automation_Probability_2030
# Xl = df[['Job_Title_encode']]
# yl = df['Automation_Probability_2030']

# X_trainl , X_testl , y_trainl , y_testl = train_test_split(Xl , yl , test_size=0.2 , random_state=42)


# Sử dụng nhiều hơn 1 feature 
feature_columns = [
    'Job_Title_encode',           
    'Years_Experience',
    'Education_Level_encode',
    'AI_Exposure_Index',           
    'Tech_Growth_Factor',
    'Skill_1' , 'Skill_2' , 'Skill_3' , 'Skill_4' , 'Skill_5' ,
    'Skill_6' , 'Skill_7' , 'Skill_8' ,'Skill_9' , 'Skill_10'
]

X = df[feature_columns]
y = df["Automation_Probability_2030"]

X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=0.2 , random_state=42)

---Linear Regression với 1 feature---

In [180]:
# linear_model = LinearRegression()
# linear_model.fit(Xl , yl)

# a = linear_model.coef_
# b = linear_model.intercept_

# print(f'Hệ số góc :')
# print(a)
# print(f'\nHệ số biên :')
# print(b)

-Phương trình

In [181]:
# equation = f'y = {b:.5f}'

# for i, coef in enumerate(a, start=1):
#     equation += f" + ({coef:.8f})X{i}"

# equation

-Tính R²

In [182]:
# r2l1f = linear_model.score(X_testl , y_testl)
# r2l1f

---Linear Regression với 5 feature---

In [183]:
# linear_model_mod = LinearRegression()
# linear_model_mod.fit(X , y)

# a = linear_model_mod.coef_
# b = linear_model_mod.intercept_

# print(f'Hệ số góc :')
# print(a)
# print(f'\nHệ số biên :')
# print(b)

-Phương trình

In [184]:
# equation = f'y = {b:.5f}'

# for i, coef in enumerate(a, start=1):
#     equation += f" + ({coef:.8f})X{i}"

# equation

-R²

In [185]:
# r2l15f = linear_model_mod.score(X_test , y_test)
# r2l15f

---Random Forest---

In [186]:
# Cấu hình random forest
random_forest_model = RandomForestRegressor(
    n_estimators=200 ,
    max_depth=50 ,
)

# Huấn luyện mô hình
random_forest_model.fit(X , y)

RandomForestRegressor(max_depth=50, n_estimators=200)

-Kết quả dự đoán sau khi train xong mô hình

-R² , MSE , RMSE

In [187]:
r2rf15f = r2_score( y_test, y_pred)
mserf15f = mean_squared_error(y_test, y_pred)
rmserf15f = numpy.sqrt(mserf15f)

print(f'R² : {r2rf15f}')
print(f'MSE : {mserf15f}')
print(f'RMSE : {rmserf15f}')

R² : 0.9803484934336805
MSE : 0.0012545469333333336
RMSE : 0.03541958403670678

-Tổng quan các feature quan trọng

In [188]:
feature_importance = pandas.DataFrame({
    'feature': X.columns,
    'importance': random_forest_model.feature_importances_
}).sort_values('importance', ascending=False)

feature_importance

                   feature  importance
0         Job_Title_encode    0.858730
3        AI_Exposure_Index    0.011573
5                  Skill_1    0.011419
6                  Skill_2    0.011150
10                 Skill_6    0.011100
12                 Skill_8    0.011055
14                Skill_10    0.010960
8                  Skill_4    0.010815
4       Tech_Growth_Factor    0.010814
11                 Skill_7    0.010460
9                  Skill_5    0.009923
7                  Skill_3    0.009862
13                 Skill_9    0.009675
1         Years_Experience    0.008491
2   Education_Level_encode    0.003973

---Ảnh hưởng lên mọi ngành nghề---

In [189]:
job_titles = df['Job_Title'].unique()
job_impact_results = []

for job_title in job_titles[:20]:
    job_mask = df['Job_Title'] == job_title
    job_data = X[job_mask]
    
    if len(job_data) > 0:
        job_pred = random_forest_model.predict(job_data)
        job_actual = y[job_mask]
        
        mse = numpy.mean((job_actual - job_pred) ** 2)
        rmse = numpy.sqrt(mse)
        
        job_mean_impact = job_pred.mean()
        
        job_impact_results.append({
            'Job_Title': job_title,
            'Sample_Count': len(job_data),
            'Avg_Predicted_Prob': job_mean_impact,
            'MSE': mse,
        })

job_impact_df = pandas.DataFrame(job_impact_results)
job_impact_df = job_impact_df.sort_values('Avg_Predicted_Prob', ascending=False)

job_impact_df[['Job_Title', 'Avg_Predicted_Prob', 'MSE', 'Sample_Count']].head(20)

              Job_Title  Avg_Predicted_Prob       MSE  Sample_Count
14        Retail Worker            0.835093  0.000765           155
0        Security Guard            0.832770  0.000664           154
9      Customer Support            0.826162  0.000644           133
2   Construction Worker            0.825527  0.000745           156
16         Truck Driver            0.818789  0.000754           153
13     Graphic Designer            0.518987  0.002067           160
3     Software Engineer            0.508697  0.002051           175
17                 Chef            0.496335  0.001934           141
12       Data Scientist            0.496057  0.001748           167
19    Marketing Manager            0.494174  0.001687           134
8         HR Specialist            0.492867  0.001672           157
10        UX Researcher            0.491910  0.001563           167
11               Lawyer            0.490273  0.001851           132
4     Financial Analyst            0.488581  0.001824           151
6              Mechanic            0.488143  0.001663           136
15               Doctor            0.177380  0.000840           132
7               Teacher            0.175852  0.000741           166
18                Nurse            0.175223  0.000799           142
1    Research Scientist            0.173900  0.000730           149
5           AI Engineer            0.172822  0.000831           140